<!--<nav class="navbar navbar-dark bg-dark">

    <a class="navbar-brand" href="#">Chat!</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav"></div>
        <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
        <a [routerLink]="['/salon']" routerLinkActive="active">Salon</a>
    </div>

</nav>-->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">CHAT!</a>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
            <a [routerLink]="['/salon']" routerLinkActive="active">Salon</a>
            </li>
    </ul>
    </div>
</nav>


<router-outlet></router-outlet>